ArchiveSources: => GetString("PostSources")
ArchiveFilter: => GetBool("IsPost")
ArchiveOrderKey: Published
ArchiveOrderDescending: true
---
@foreach(IGrouping<int, IDocument> group in Document
    .GetChildren()
    .GroupBy(x => x.GetDateTime(WebKeys.Published).Year)
    .OrderByDescending(x => x.Key))
{
    <h1 class="">@group.Key</h1>
    foreach (IDocument post in group)
    {
        <div class="">
            <h3 class="">@Html.DocumentLink(post)</h3>
            @if(post.ContainsKey("Lead"))
            {
                <div class="">@post.GetString("Lead")</div>
            }
            <p class="">Published on @post.GetDateTime(WebKeys.Published).ToLongDateString()</p>
        </div>
    }
}