@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-shape-divider-bottom-1642627347 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1642627347 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 161px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1642627347 .shape-fill {
    fill: #FFFFFF;
}

/** For mobile devices **/
@media (max-width: 767px) {
        .custom-shape-divider-bottom-1642627347 svg {
            width: calc(214% + 1.3px);
            height: 229px;
        }
}



.custom-shape-divider-top-1642628278 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1642628278 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1642628278 .shape-fill {
    fill: #FFFFFF;
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-top-1642628278 svg {
        width: calc(114% + 1.3px);
        height: 177px;
    }
}